* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1{
    text-align: center;
}

.upload{
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.file {
    display: inline-block;
    box-sizing: border-box;
    width: 64%;
    height: 50%;
    position: relative;
    left: 18%;
    margin-top: 4%;
    border: 5px gray dashed;
    border-radius: 20px;
}

#file {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
}

div span {
    display: inline-block;
    user-select: none;
    opacity: .3;
    width: 240px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 30px);
    z-index: -1;
}

#reset,#submit,#show,.reset,.submit{
    display: none;
}

.reset,.submit{
    width: 130px;
    height: 60px;
    border-radius: 10px;
    border: 2px dashed pink;
    margin-left: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    transition: .5s;
}
.show{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 10%;
    border-radius: 10px;
    border: 2px dashed pink;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    transition: .5s;
}


.reset:hover, .submit:hover ,.show:hover{
    background-color: pink;
}

.function {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table{
    margin-left: 3%;
    /*display: none;*/
}

td{
    width: 130px;
    height: 30px;
    text-align: center;
    border: 1px gray dotted;
    background-color: orange;
}

.green{
    background-color: lawngreen;
}



footer{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #999;
    opacity: .7;
}
footer span{
    line-height: 60px;
    color: #666;
    padding: 0 50px;
}
footer a{
    line-height: 60px;
    padding: 0 50px;
    color: gold;
}